{% extends 'main/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block countent %}

<h1 id="auter">Авторизация</h1>
<p id="pred">Чтобы войти на сайт используйте ваш email и пароль, <br> которые были указаны при регистрации на сайтe</p>


    <form method="post" >

            {% csrf_token %}

            <div class="form-error" id="login-error">{{ form.non_field_errors }}</div>
            {% for f in form %}

            {{ f }}

            <div class="form-error" >{{ f.errors }}</div>

            {% endfor %}

            <button type="submit" class="button" ><div id="send" class="btn red"><p id="opa">Войти	</p><div class="btn__blobs"><div></div><div></div><div></div></div></div></button>
    </form>
            <a href="{% url 'users:password_reset' %}" class="btn white" id="bnn">Забыли пароль?     <div class="btn__blobs" id="bnnn"><div></div><div></div><div></div></div></a>
    <i id="pass-icon" class="fas fa-eye" onclick="myPass()" ></i>
<!--    <i class="fa-solid fa-eye"></i> открытый глаз-->
<!--<i class="fa-solid fa-eye-slash"></i> закрытый глаз-->
    <form class="login-block"></form>


{% endblock %}