{% extends 'main/layout.html' %}

{% block countent %}
<h1 id="vost_pass">Восстановление пароля</h1>

<form method="post" class="pypypy">
    {% csrf_token %}
{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</p>
<!--{{ f.label }}{{ f }}-->
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
    <p><button type="submit" class="button"><div id="sdros_reg" class="btn red">Сбросить по E-mail<div class="btn__blobs"><div></div><div></div><div></div></div></div></button></p>
<!--        <button type="submit" class="button" ><div id="send_reg" class="btn red"><p id = 'rug'>Регистрация	</p><div class="btn__blobs"><div></div><div></div><div></div></div></div></button>-->
</form>

{% endblock %}