{% extends 'main/layout.html' %}

{% block countent %}
<h1 id="new_pass_podt">Новый пароль</h1>

<form method="post" id="vvvvl">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    {{f.label}}{{ f }}
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <p><button type="submit" class="button"><div id="rtrt" class="btn red">Сохранить<div class="btn__blobs"><div></div><div></div><div></div></div></div></button></p>
<!--    <button type="submit" class="button" ><div id="send_reg" class="btn red"><p id = 'rug'>Регистрация	</p><div class="btn__blobs"><div></div><div></div><div></div></div></div></button>-->
</form>

{% endblock %}